<html>
<head>
<title>Adding page</title>
</head>
<body>
<center><h1>Add page</h1></center>
<form method="POST">
<label>Enter product name:</label></br>
<input type="text" name="product" required></br>
<label>Enter rate:</label></br>
<input type="float" name="rate" required></br>
<label>Enter quantity</label></br>
<input type="number" name="quantity" required></br>
<input type="submit" value="Done">
</form>
<a href="{{url_for('index')}}"><input type="submit" value="Back"></a>
</body>
</html>



