<html>
<head>
<title>Homepage</title>
</head>
<body>
<center><h1>Home page</h1></center>
<center><button class="btn" onclick="window.location.href='{{url_for('add')}}';">Add stock</button></center></br>
<center><button class="btn" onclick="window.location.href='{{url_for('view')}}';">View stock</button></center></br>
<center><button class="btn" onclick="window.location.href='{{url_for('update_stock')}}';">Update stock</center></button></br>
<center><button class="btn" onclick="window.location.href='{{url_for('delete')}}';">Delete stock</button></center>
</body>
</html>